body {
  background: rgb(255, 255, 255);
}

.App-logo {
  font-weight: normal;
  display: inline-block; /* necesario para aplicar transformaciones */
  animation: spin 3s linear infinite; /* nombre, duración, tipo y bucle */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
