.cert-container {
  width: 1123px;
  height: 794px;
  background: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  margin: auto;
  position: relative;
  overflow: hidden;
}

.left-img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.right-col {
  position: relative;
  text-align: center;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  overflow: hidden;
}

.right-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/assets/watermark.png") center center no-repeat;
  background-size: 65%; /* ajusta tamaño relativo (prueba 40%, 60%) */
  z-index: 0;
}

.right-col > * {
  position: relative;
  z-index: 1; /*asegura que el texto e imágenes estén encima */
}

.logo { 
  position: absolute; 
  top: 20px; 
  right: 30px; 
  width: 200px; 
  z-index: 5;
}

.main-sign { 
  position: absolute;
  bottom: 24px; 
  left: 40px; 
  width: 170px;

}

.instr-sign { 
  position: absolute; 
  bottom: 24px; 
  right: 40px; 
  width: 170px; 
}

.datos-extra p {
  margin: 10px 0;
}

.firma-block {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 180px;
}

.firma-img {
  max-height: 80px;
  max-width: 100%;
  padding: 5px 5px 0 5px;
}

.main-sign-block {
  left: 30px;
}

.instr-sign-block {
  right: 30px;
}

.text-empresa {
  width: 450px;
  position: absolute;
  white-space: normal;      /* permite saltos */
  word-wrap: break-word;    /* corta palabras largas */
  padding-left: 12px;       /* desplaza un poco el texto */
  text-indent: -10px;       /* mantiene alineado con la primera línea */
}

